<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <div class="auth-container">
        <h1>Welcome!</h1>

        {% if error %}
            <div style="background-color: #ffdddd; color: red; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center;">
                {{ error }}
            </div>
        {% endif %}

        <form action="/login" method="POST" class="auth-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee;">

        <div class="Guest">
            <a href="/guest_home">Continue as a Guest</a>
        </div>

        <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee;">

        <div class="Register">
            <a href="/register">Don't have an account? Register here!</a>
        </div>

        </div>
    </div>
</body>
</html>