<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="guest_home">
        <h1>Welcome, Guest!</h1>
        <p>In this page you can take a general look at which skills are required in a certain function.</p>
    </div>
    <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee;">
    <div class="guest_home">
        <a href="/" class="logout-link">Exit</a>
    </div>
</body>
</html>