{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/org_home.css">
{% endblock %}

{% block content %}
    <nav class="navbar">
        <div class="nav-left">
            <span class="name">Hello, <strong>{{ org.name }}</strong></span>
        </div>

        <div class="nav-right">
            <a href="/org_profile" class="nav-link">Profile</a>
            <a href="/logout" class="nav-link btn-logout">Logout</a>
        </div>
    </nav>

    <div class="main-container">
        <h1>Current Projects</h1>
        <p>This is your project list.</p>

        <hr style="width:100%; margin-top: 30px;">

        <h2>Recent Events (new tech, law changes, ecc...)</h2>
        <div class="events-container">
            <p>No recent events available.</p>
        </div>
    </div>
{% endblock %}