{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/user_home.css">
    <style>
        /* hiding page for non authorized users */
        body { display: none; }
    </style>
{% endblock %}

{% block content %}
    <div class="welcome-box">
        <h1>Hello, {{ user.name }}!</h1>
        <p>This is your home page</p>

        <a href="/logout" class="logout-link">Logout</a>
    </div>

    <script>
        async function verifySession() {
            try {
                const response = await fetch('/check_session');

                if (response.ok) {
                    /* still in session */
                    document.body.style.display = 'block';
                } else {
                    /* logged out */
                    window.location.href = "/"; 
                }
            } catch (error) {
                /* if error occurs: login page */
                window.location.href = "/";
            }
        }

        /* execute everytime the page is showed */
        window.addEventListener('pageshow', function(event) {
            verifySession();
        });
    </script>
{% endblock %}